body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin-top: 100px;
}

header {
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    display: flex;
    align-items: center;
    padding-top: 1%;
    padding-bottom: 1%;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 100;
}

header.scrolled{

    background-color:#ffeb99;
}



.logo {
    height: 60px;
    margin-left: 10%;
    margin-right: 5%;
}

.desktop-nav {
    display: flex;
    align-items: center;

}

.desktop-nav a {
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    margin-left: 5%;
    margin-right: 26%;
    white-space: nowrap;

}
.rbq {
    color: #000000;
    
}

.btn {
    background-color: #507A2E;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 18px; 
    box-shadow: 2px 5px 1px rgba(0, 0, 0, 0.1);
}

.btn:hover {
    background-color: #45a049;
}

.rbq:hover {
    color: #507A2E;
    text-decoration: underline;
}

#inscription {
    margin-right: 5px;
    font-size: 16px;
}

/* --------------- début section 1 ---------------*/

.prm_acc{

    padding-bottom: 0;
    margin-bottom: 0;
}


#santesenior {
    width: 20%;
    margin-bottom: 40px;
}

.logocenter {
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

#accueil {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}
/* --------------- fin section 1 ---------------*/


/* --------------- début section 2 ---------------*/

.triplephoto {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 0;
    padding: 0;
}

.triplephoto img {
    width: 33.33%;
    object-fit: cover;
    margin: 0;
}

.call_to_action {
    background-color: #ffeb99;
    position: absolute; 
    width: 100%;
    z-index: 10; 
    height: 40%;
    bottom: 0;
   line-height: 0;
   text-align: center;
}

#bouton_section2{
    background-color: #FFCF02;
    color: #000000;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

#bouton_section2:hover{
    background-color:#fff;
}

#titre_section2{
    font-size: 60px;
    font-weight: bold;
}
#phrase_section2{
    font-size: 30px;
}


@media only screen and (max-width: 768px) {
    .call_to_action {
        height: auto; 
    }

    #titre_section2 {
        font-size: 30px; 
    }

    #phrase_section2 {
        font-size: 15px; 
    }
}


/* --------------- fin section2 ---------------*/

/* --------------- début section3 ---------------*/

.img_section3{
    height: auto;
    width: 50%;
    margin:0;
    padding: 0;
}
.section3{

    position: relative;
    display: flex;
    align-items: center;
}
/* --------------- fin section3 ---------------*/


/* --------------- début menu burger ---------------*/
.mobile-nav {
    text-align: center;
    display: none;
}


.menu-toggle {
    display: none;
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
}

.menu-toggle.open {
    transform: rotate(90deg);
}

@media screen and (max-width: 767px) {
    .desktop-nav {
        display: none;
    }

    .menu-toggle {
        display: block;
    }

    .mobile-nav.show{
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: #ffffff;
    border: 1px solid #ccc;
    z-index: 1000;
}

    .mobile-nav a {
    display: block;
    color: #000000;
    text-decoration: none;
    margin: 10px 0;
    font-size: 18px;
}
}
/* --------------- fin menu burger ---------------*/



/* --------------- début footer ---------------*/

.footer_design {
    width: 70%;
    height: auto;
    display: flex;
}

.footer_logo {
    height: 80px;
    margin-top: 20px;
}

.footer_reseaux {
    height: 80px;
}

footer {
    background-color: #fff9e4;
    color: #000000;
    padding: 20px 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

.container {
    max-width: 100%;
    margin: 0 auto;
}

.footer_alignement {
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
}


/* --------------- fin footer ---------------*/
